* {
    padding: 0;
    margin: 0;
   
   
}
body {
    background-color: rgb(27, 105, 173); 
    color: black;
    font-family: 'courier', monospace;
    font-size: large;
    width: 100%;
    height: auto;
}
.borders {
    border: 12px double lime;
}