* {
    padding: 0;
    margin: 0;
    color: black;
    font-family: 'courier', monospace;
    font-size: large;
    width: 100%;
    height: auto;
   
}
body {
    background-color: aliceblue;
}
.borders {
    border: 12px double lime;
}